/* Basic rules */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*           Mobile-first                 */

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-top: 32px;
}

.navlinks {
  display: none;
}

.burger {
  color: grey;
  margin-right: 32px;
}

/* INTRODUCTION SECTION */

#introduction {
  margin-left: 32px;
  padding-top: 70px;
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}

.desktop {
  display: none;
}

.text-container > h4 {
  color: #ff3998;
  letter-spacing: 1.2px;
  font-weight: medium;
  padding-top: 55px;
}

.text-container > p {
  line-height: 1.8;
  font-size: 20px;
  padding-top: 15px;
}

.text-container > h1 {
  color: #111111;
  font-weight: 800;
  font-size: 45px;
  padding-top: 20px;
}

.graphic-img {
  height: 500px;
  width: 500px;
}

.graphic {
  position: absolute;
  top: 70px;
  left: 120px;
  height: 500px;
  width: 500px;
}

.buttonas {
  margin-top: 55px;
}

/* AD SECTION */

#sellingad {
  background-image: url("../assets/background.svg");
  background-color: #cccccc;
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 30px;
}

#sellingad > p {
  margin-left: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

/* BRANDS SECTION */

.hiddenbrand {
  display: none;
}

#brands {
  padding-top: 40px;
  overflow: hidden;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  flex-wrap: wrap;
  margin: 0 32px;
  align-items: center;
}

.brandimg {
  padding: 15px 0;
}

.boomerang {
  width: 138px;
}

.imgcrop {
  width: 138px;
  height: 100%;
  object-fit: none;
  object-position: 0;
}

/* SHOWCASE SECTION */

#showcase {
  padding-top: 40px;
  padding-bottom: 50px;
}

.showcasetxt > p,
a {
  color: #555555;
}

.flex-inside {
  display: flex;
  justify-content: space-between;
  width: 290px;
}

.showcase-item {
  background: #eeeeee;
  width: 290px;
  border-radius: 15px;
  padding-bottom: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.showcase-item1 {
  background: #eeeeee;
  width: 290px;
  border-radius: 15px;
  padding-bottom: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.showcase-item2 {
  background: #eeeeee;
  width: 290px;
  border-radius: 15px;
  padding-bottom: 15px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.showcase-item3 {
  background: #eeeeee;
  width: 290px;
  border-radius: 15px;
  padding-bottom: 15px;
  grid-column-start: 4;
  grid-column-end: 5;
}

.nftimg {
  padding-bottom: 15px;
}

.showcasegrid {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  column-gap: 32px;
  margin-left: 32px;
  overflow-x: scroll;
}

/* INTRODUCTION 2 SECTION */

.upsell {
  position: absolute;
  top: 320px;
  left: 240px;
}

.borders {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin: 0;
  padding-left: 32px;
}

.missingtxt {
  display: none;
}

/* FOOTER */
footer {
  padding-top: 30px;
}

.logoicons > img {
  margin: 20px 32px;
}

.logoicons > p {
  color: #555555;
}

.icon-container {
  margin-left: 27px;
  padding-bottom: 40px;
}

.fa-brands,
.link {
  color: #555555;
  padding: 5px;
  text-decoration: none;
  line-height: 1.5;
}

.footer-grid {
  display: grid;
  grid-template-columns: 35% 35%;
}

ul {
  list-style: none;
  margin-left: 27px;
  padding: 0;
}

.title {
  color: #555555;
  margin: 7px 32px;
}

.footerp {
  margin-top: 0;
}

.copyright {
  margin: 20px 32px;
  color: #555555;
  font-weight: 400;
}

.launch {
  display: none;
}

/*       Min 800px        */

@media (min-width: 800px) {
  .graphic {
    left: 40%;
    width: 700px;
    height: 700px;
  }

  .graphic-img {
    width: 700px;
    height: 700px;
  }

  .upsell {
    left: 60%;
    top: 180px;
  }

  .footer-grid {
    grid-template-columns: 70% 50%;
    overflow: hidden;
  }

  .copyright {
    text-align: center;
  }

  .flex1 {
    justify-content: space-between;
  }

  .medium {
    display: inline;
  }

  .borderbr {
    display: none;
  }
}

/*       Desktop  1200px    */

@media (min-width: 1400px) {
  #burgeris {
    display: none;
  }

  .navlinks {
    display: inline;
    margin-right: 5%;
  }

  .navlinks > a {
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
  }

  .signup {
    color: #ff3998;
  }

  .mobile {
    display: none;
  }

  .text-container > h1 {
    font-size: 64px;
  }

  .text-container > p {
    font-size: 20px;
  }

  .desktop {
    display: inline;
  }

  #introduction {
    margin: auto;
    width: 90%;
  }

  .navbar {
    margin: 40px auto;
    width: 90%;
  }

  .navlinks {
    margin: 0;
  }

  #sellingad {
    width: 90%;
    margin: auto;
    border-radius: 15px;
  }

  .graphic {
    left: 45%;
  }

  .adbr {
    display: none;
  }

  .borders {
    padding: 0 !important;
    height: 600px;
    margin-bottom: 70px !important;
  }

  .upsell > img {
    width: 100%;
    height: 100%;
  }

  .upsell {
    height: 500px;
    top: 120px;
  }

  .borderbr {
    display: none;
  }

  .missingtxt {
    display: inline;
  }

  #brands {
    width: 90%;
    margin: 30px auto;
  }

  .flex1 {
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .boomerang {
    padding: 0;
  }

  .imgcrop {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 0;
  }

  .brandimg,
  .imgcrop {
    margin: 0;
  }

  .hiddenbrand {
    display: inline;
  }

  .brandimg,
  .imgcrop {
    margin: 0;
    padding: 0;
  }

  .showcasegrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #showcase {
    width: 90%;
    margin: auto;
  }

  .showcasetxt {
    padding-bottom: 30px;
  }

  .showcasetxt > h1 {
    margin: 0;
    margin-bottom: 20px;
  }

  .showcasetxt > p {
    margin: 0;
    margin-bottom: 20px;
  }

  /* FOOTER */
  footer {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
  }

  .footer-grid {
    display: flex;
    justify-content: space-between;
    width: 50%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  .logoicons {
    width: 30%;
    padding: 0;
    margin: 0;
  }

  .logoicons > img,
  .logoicons > p {
    margin: 0;
  }

  .icon-container {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .title {
    color: #555555;
  }

  .logoicons > .footerp {
    margin: 10px 0;
  }

  .copyright {
    color: #555555;
    font-weight: 400;
    display: inline;
    margin: 0;
    padding-bottom: 50px;
  }

  .launch {
    float: right;
  }
}
